<div class="d-flex flex-column justify-content-center align-items-center px-3 text-center text-white" style="padding-top: 100px;">
    <div class="row m-2 justify-content-center">
        <div class="card col-lg-4 col-md-2 col-sm-1 m-5 text-center" style="width: 22rem;">
            <img src="https://www.vmcdn.ca/f/files/lakelandtoday/images/surgeryfilelakeland.jpg;w=1200;h=800;mode=crop" class="card-img-top mt-2" alt="...">
            <div class="card-body">
                <h5 class="card-title" style="color: black">To See Department Information From Database</h5>
                <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                <a href="http://localhost:3001/Medisearch/Departments/View" class="btn btn-primary " style="width: 50%;">Department list</a>
            </div>
        </div>
        <div class="card col-lg-4 col-md-2 col-sm-1 m-5 text-center" style="width: 22rem;">
            <img src="https://www.colourbox.com/preview/32402492-hospital-departments-icons-set-vector-illustrations-on-a-white-background.jpg" class="card-img-top mt-2" alt="...">
            <div class="card-body">
                <h5 class="card-title" style="color: black"> Add New Department To Hospital Database </h5>
                <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                <a href="http://localhost:3001/Medisearch/Departments/add/" class="btn btn-primary" style="width: 50%;">Add </a>
            </div>
        </div>
    </div>
</div>