<form class="department-form">
  <div class="mb-3">
    <label for="department-name" class="form-label">Department Name</label>
    <select type="select" class="form-control" id="department-name">
        <option value="" disabled selected hidden>Choose a department name.</option>
        <option>Orthopedic</option>
        <option>Psychiatric</option>
        <option>Gynecology</option>
        <option>Dermatology</option>
        <option>Neurology</option>
        <option>Cardiology</option>
        <option>Ophthalmology</option>
        <option>Oncology</option>
        <option>Rehabilitation Services -- OT /PT /Kin /SLP</option>
        <option>Administration</option>
    </select>
  <button type="submit" class="btn btn-primary">Add New Department</button>
  </div>
</form>
<script src="/javascript/department.js"></script>
