<div class="container mt-5 justify-content-center " style="max-width: 50%;">
<div class="card text-center text-dark border-info">
  <div class="card-header">
    Department {{department.id}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{department.DepartmentName}}</h5>
  </div>
</div>
</div>