<div class="container mt-5 col-lg-8 col-md-6 col align-items-center">
<form class="department-form">
  <div class="dropdown mb-3">
    <label for="department-name" class="form-label">Department Name</label>
    <select class="form-select" id="department-name">
        <option value="" disabled selected hidden>Choose a department to add.</option>
        <option>Orthopedic</option>
        <option>Psychiatric</option>
        <option>Gynecology</option>
        <option>Dermatology</option>
        <option>Neurology</option>
        <option>Cardiology</option>
        <option>Ophthalmology</option>
        <option>Oncology</option>
        <option>Rehabilitation Services -- OT /PT /Kin /SLP</option>
        <option>Administration</option>
    </select>
  
  </div>
  <button type="submit" class="btn btn-primary">Add New Department</button>
</form>
</div>
<script src="/javascript/department.js"></script>
