<table class="table caption-top">
  <caption>Departments</caption>
  <thead>
    <tr>
      <th scope="col">Department_id</th>
      <th scope="col">DepartmentName</th>
    </tr>
  </thead>
  <tbody>
    {{#each departments as |department|}}
    <tr>
      <th scope="row">{{department.id}}</th>
      <td><a href="/Medisearch/Departments/View/{{department.id}}">{{department.DepartmentName}}</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>