    <main>
        <section>
            <div class="d-flex flex-column justify-content-center align-items-center px-3 text-center text-white" style="padding-top: 100px;">
                <h1 class="display-4 bg-dark p-2 rounded animated lightSpeedInRight" style="font-weight: 700;">"Here to help you manage and organize your hospital staff and patients"</h1>
                <h2 class="display-5 bg-dark p-1 rounded animated lightSpeedInLeft">Medisearch provides best service as your one stop hospital management tool</h2>
                <section class="d-flex flex-column justify-content-center align-items-center text-center m-5">
                    <h2 class="m-5 display-3 text-warning">For Admins</h2>
                    <div class="row">
                        <a href="/Medisearch/Departments" class="col-sm-12 col-lg-4 d-flex justify-content-center text-decoration-none">
                            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                                <div class="card-header">
                                    <img src="/images/dept.png" class="img-thumbnail w-75 rounded-circle app-logo" alt="shows">
                                </div>
                                <div class="card-body card-info-animation">
                                  <h5 class="card-title">Departments</h5>
                                  <p class="card-text">Click To Manage Departments</p>
                                </div>
                            </div>
                        </a>
                        <a href="/Medisearch/Departments" class="col-sm-12 col-lg-4 d-flex justify-content-center text-decoration-none">
                            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                                <div class="card-header">
                                    <img src="/images/defibrillator.png" class="img-thumbnail w-75 rounded-circle app-logo" alt="shows">
                                </div>
                                <div class="card-body card-info-animation">
                                  <h5 class="card-title">Patients</h5>
                                  <p class="card-text">Click to checkout interactive app to manage patients</p>
                                </div>
                            </div>
                        </a>
                        <a href="/Medisearch/Departments" class="col-sm-12 col-lg-4 d-flex justify-content-center text-decoration-none">
                            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                                <div class="card-header">
                                    <img src="/images/doc.png" class="img-thumbnail w-75 rounded-circle app-logo" alt="shows">
                                </div>
                                <div class="card-body card-info-animation">
                                  <h5 class="card-title">Specialists</h5>
                                  <p class="card-text">Manage Specialists or staff at the hospital</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </section>
            </div>
        </section>

        <section class="d-flex flex-column justify-content-center align-items-center pt-5 bg-dark text-center text-white">
            
            <h2 class="mt-5 display-4">Learn About Developers</h2>
            <div class="row d-flex justify-content-center">
                <div class="col-sm-12 col-lg-3 d-flex justify-content-center">
                    <div class="card text-dark bg-white m-3">
                        <div class="card-header">
                            <img src="images/user.png" class="img-thumbnail rounded-circle profile-logo" style="width:200px;height:200px;" alt="shows">
                        </div>
                        <div class="card-body">
                            <h2 class="card-title display-5">Sehajpreet Singh</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-3 d-flex justify-content-center">
                    <div class="card text-dark bg-white m-3">
                        <div class="card-header">
                            <img src="images/user.png" class="img-thumbnail rounded-circle profile-logo" style="width:200px;height:200px;" alt="shows">
                        </div>
                        <div class="card-body">
                            <h2 class="card-title display-5">Purvi Mecwan</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-3 d-flex justify-content-center">
                    <div class="card text-dark bg-white m-3">
                        <div class="card-header">
                            <img src="images/user.png" class="img-thumbnail rounded-circle profile-logo" style="width:200px;height:200px;" alt="shows">
                        </div>
                        <div class="card-body">
                            <h2 class="card-title display-5">Scott Bradley</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-3 d-flex justify-content-center">
                    <div class="card text-dark bg-white m-3">
                        <div class="card-header">
                            <img src="images/user.png" class="img-thumbnail rounded-circle profile-logo" style="width:200px;height:200px;" alt="shows">
                        </div>
                        <div class="card-body">
                            <h2 class="card-title display-5">Ravneet Panglia</h2>
                        </div>
                    </div>
                </div>
            </div>
            
        </section>

    </main>