    <main>
        <section>
            <div class="d-flex flex-column justify-content-center align-items-center px-3 text-center text-white" style="padding-top: 100px;">
                <h1 class="display-5 bg-dark p-2 rounded animated lightSpeedInRight" style="font-weight: 700;">MEDiSEARCH</h1>
                <h2 class="bg-dark p-2 rounded animated lightSpeedInLeft" style="font-weight: 700;">A Helping Hand Towards Your Radiant Health</h2>
                <section class="d-flex flex-column justify-content-center align-items-center text-center m-5">
                    <div class="row">
                        <a href="/Medisearch/Departments" class="col-sm-12 col-lg-4 d-flex justify-content-center text-decoration-none">
                            <div class="card text-white bg-dark mb-3" style="max-width: 30rem;">
                                <div class="card-header">
                                    <img src="/images/hospital.png" class="mt-1 w-75" alt="shows">
                                </div>
                                <div class="card-body card-info-animation">
                                  <h5 class="card-title">Departments</h5>
                                  <p class="card-text">Click To Manage Departments</p>
                                </div>
                            </div>
                        </a>
                        <a href="/Medisearch/Specialists" class="col-sm-12 col-lg-4 d-flex justify-content-center text-decoration-none">
                            <div class="card text-white bg-dark mb-3" style="max-width: 30rem;">
                                <div class="card-header">
                                    <img src="/images/doctor.png" class="mt-1 w-75" alt="shows">
                                </div>
                                <div class="card-body card-info-animation">
                                  <h5 class="card-title">Specialists</h5>
                                  <p class="card-text">Click To Manage Specialists</p>
                                </div>
                            </div>
                        </a>
                        
                        <a href="/Medisearch/Patients" class="col-sm-12 col-lg-4 d-flex justify-content-center text-decoration-none">
                            <div class="card text-white bg-dark mb-3" style="max-width: 30rem;">
                                <div class="card-header">
                                    <img src="/images/thermometer.png" class="mt-1 w-75" alt="shows">
                                </div>
                                <div class="card-body card-info-animation">
                                  <h5 class="card-title">Patients</h5>
                                  <p class="card-text">Click To Manage Patients</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </section>
            </div>
        </section>

    </main>