<div class="container" style="max-width: 100%;">
    <div class="row m-2 justify-content-center">
        
        <div class="card col-lg-4 col-md-2 col-sm-1 m-5 text-center" style="width: 22rem;">
            <img src="https://cdn.pixabay.com/photo/2014/12/10/21/01/doctor-563428_960_720.jpg" class="card-img-top mt-2" alt="...">
            <div class="card-body">
                <h5 class="card-title">To View Patient's Infomation From Database</h5>
                <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                <a href="/Medisearch/Patients/View" class="btn btn-primary " style="width: 50%;">Patients List</a>
            </div>
        </div>
        <div class="card col-lg-4 col-md-2 col-sm-1 m-5 text-center" style="width: 22rem;">
            <img src="https://t4.ftcdn.net/jpg/04/24/30/93/360_F_424309320_UkOxg2z3sq7yXwGnWCO6xBXkRI4byhnI.jpg" class="card-img-top mt-2" alt="...">
            <div class="card-body">
                <h5 class="card-title"> Add New Patient To Hospital Database </h5>
                <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                <a href="/Medisearch/Patients/add" class="btn btn-primary" style="width: 50%;">Add</a>
            </div>
        </div>
        <div class="card col-lg-10 col-md-4 col-sm-1 m-5 text-center" style="width: 22rem;">
            <img src="https://images.cdn2.stockunlimited.net/preview1300/medical-background-set_1684464.jpg" class="card-img-top mt-2" alt="...">
            <div class="card-body">
                <h5 class="card-title">Change Existing Patient Infomation</h5>
                <div class="input-group mb-3">
                    <form class="update-form">
                    <div class="mb-3 ">
                        <label for="patient-id" class="form-label" style="font-size: larger;">Patient ID</label>
                        <input type="text" class="form-control" id="patient-id">
                    </div>
  
                    <button type="submit" class="btn btn-primary " style="font-size: larger;">Edit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- <script src="/javascript/update.js"></script> --}}