<table class="table caption-top">
  <caption>Patients</caption>
  <thead>
    <tr>
      <th scope="col">Patient_id</th>
      <th scope="col">PatientName</th>
      <th scope="col">PatientStatus</th>
    </tr>
  </thead>
  <tbody>
    {{#each patients as |patient|}}
    <tr>
      <th scope="row">{{patient.id}}</th>
      <td>{{patient.PatientName}}</td>
      <td>{{patient.PatientStatus}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>