
<div class="container" style="max-width: 100%;">
    <div class="row m-2 justify-content-center">
        <div class="card col-lg-4 col-md-2 col-sm-1 m-5 text-center d-flex justify-content-center bg-dark align-items-center" style="width: 22rem;">
            <img src="/images/search.png" class="card-img-top mt-4 mx-5" style="width: 65%;" alt="...">
            <div class="card-body">
                <h5 class="card-title my-3 text-white">View Patients</h5>
                <a href="/Medisearch/Patients/view" class="btn btn-primary " style="/* width: 50%; */">Patient Data</a>
            </div>
        </div>
        <div class="card col-lg-4 col-md-2 col-sm-1 m-5 text-center d-flex justify-content-center bg-dark align-items-center" style="width: 22rem;">
            <img src="/images/add-file.png" class="card-img-top mt-2 w-75" alt="...">
            <div class="card-body">
                <h5 class="card-title mb-3 text-white"> Add New Patient </h5>
                <a href="/Medisearch/Patients/add" class="btn btn-primary" style="width: 50%;">Add </a>
            </div>
        </div>

        <div class="card col-lg-4 col-md-2 col-sm-1 m-5 text-center d-flex justify-content-center bg-dark align-items-center" style="width: 22rem;">
            <img src="/images/writing.png" class="card-img-top mt-3" style="width: 65%;" alt="...">
            <div class="card-body my-3 d-flex justify-content-center flex-column align-items-center">
                <h5 class="card-title text-white"> Edit Existing Patient</h5>
                <div class="input-group d-flex justify-content-center flex-column align-items-center">
                    <form class="update-form ">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Enter patient ID from list" id="patient-id" >
                            <button class="btn btn-primary" type="submit" style="font-size: larger;">Edit</button>
                        </div>
                   </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/javascript/patientUpdate.js"></script>