<div class="container mt-5 col-lg-8 col-md-6 col text-center">
  <h1>Update Specialist</h1>
  <div class="container mt-5 justify-content-center " style="max-width: 50%;">
<div class="card text-center text-dark border-info">
  <div class="card-header m-3 fs-1" >
    Update Specialist {{specialist.id}}
  </div>
  <div class="card-body">
    <h5 class="card-title">Current Name: {{specialist.SpecialistName}}</h5>
  </div>
  <div class="card-body">
    <h5 class="card-title">Current Speciality: {{specialist.Speciality}}</h5>
  </div>
</div>
</div>
<form class="specialist-form">
  <div class="mb-3 ">
    <label for="specialist-name" class="form-label font-weight-bold">Specialist Name</label>
    <input type="text" class="form-control" id="specialist-name">
  </div>
  <div class="mb-3 ">
    <label for="speciality" class="form-label font-weight-bold">Speciality</label>
    <input type="text" class="form-control" id="speciality">
  </div>
  <button type="submit" class="btn btn-primary">Add Changes</button>
</form>
</div>

<script src="/javascript/update.js"></script>