<table class="table caption-top">
  <caption>Specialists</caption>
  <thead>
    <tr>
      <th scope="col">Specialist_id</th>
      <th scope="col">SpecialistName</th>
      <th scope="col">Speciality</th>
    </tr>
  </thead>
  <tbody>
    {{#each specialists as |specialist|}}
    <tr>
      <th scope="row">{{specialist.id}}</th>
      <td>{{specialist.SpecialistName}}</td>
      <td>{{specialist.Speciality}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>