<form class="specialist-form">
  <div class="mb-3">
    <label for="specialist-name" class="form-label">specialist name</label>
    <input type="text" class="form-control" id="specialist-name">
  </div>
  <div class="mb-3">
    <label for="speciality" class="form-label">speciality</label>
    <input type="text" class="form-control" id="speciality">
  </div>
  <button type="submit" class="btn btn-primary">Add New Specialist</button>
</form>
<script src="/javascript/specialist.js"></script>
