<div class="container mt-5 col-lg-8 col-md-6 col-sm-1 align-items-center">
<form class="specialist-form">
  <div class="mb-3 ">
    <label for="specialist-name" class="form-label" style="font-size: larger;">specialist name</label>
    <input type="text" class="form-control" id="specialist-name">
  </div>
  <div class="mb-3 ">
    <label for="speciality" class="form-label" style="font-size: larger;">speciality</label>
    <input type="text" class="form-control" id="speciality">
  </div>
  <button type="submit" class="btn btn-primary " style="font-size: larger;">Add New Specialist</button>
</form>
</div>
<script src="/javascript/specialist.js"></script>
