<div class="container mt-5 col-lg-8 col-md-6 col text-center">
  <h1>Add New Specialist</h1>
<form class="specialist-add-form">
  <div class="mb-3 ">
    <label for="specialist-name" class="form-label font-weight-bold">Specialist Name</label>
    <input type="text" class="form-control" id="specialist-name">
  </div>
  <div class="mb-3 ">
    <label for="speciality" class="form-label font-weight-bold">Speciality</label>
    <input type="text" class="form-control" id="speciality">
  </div>
  <button type="submit" class="btn btn-primary " style="font-size: larger;">Add New Specialist</button>
</form>
</div>
<script src="/javascript/specialist.js"></script>
