<div class="container mt-5 justify-content-center " style="max-width: 50%;">
<div class="card text-center text-dark border-info">
  <div class="card-header m-3 fs-1" >
    Specialist {{specialist.id}}
  </div>
  <div class="card-body">
    <h5 class="card-title">Specialist Name: {{specialist.SpecialistName}}</h5>
  </div>
  <div class="card-body">
    <h5 class="card-title">Speciality: {{specialist.Speciality}}</h5>
  </div>
</div>
</div>